<h1>Projects</h1>

<ul>
  <% @projects.each do |project| %>
    <li> <%= link_to project.project_name, project_path(project) %>

      <%= link_to "Destroy", project_path(project), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } %>
    </li>
  <% end %>
</ul>

<br>
<h2><%= link_to "Add Project", new_project_path %></h2>