/* application.css */

body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  margin: 18px;
  padding: 0;
}

li {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between; 
  align-items: center;          
}

.task-actions {
  display: flex;
  gap: 8px;      
}

.done-task {
  background-color: #f0f0f0;  
  color: #888;               
}

.done-task .done-task-text{
  text-decoration: line-through; 
}

.done-task .task-title .done-badge {
  text-decoration: none;
  color: green;
  font-weight: bold;
  margin-left: 8px;
}